.footer {
  background: #2d2d2d;
  color: #fff;
  .content {
    margin-top: 40px;
    padding: 20px 0;

    h3 {
      font-family: "Flame";
      font-size: 20px;
      margin: 0;
      padding: 0;
    }

    .contact {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 15px 0;

      .phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        font-weight: 800;
        margin-right: 20px;
        cursor: pointer;

        img {
          width: 18px;
          margin-right: 8px;
        }
      }

      .email {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;

        img {
          width: 18px;
          margin-right: 8px;
        }
      }
      .sosmed {
        img {
          width: 16px;
          margin-right: 8px;
          cursor: pointer;
        }
      }
    }

    .menu-footer {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        border-right: 1px solid #fff;
        margin-right: 10px;
        padding-right: 10px;
        color: #919191;
        text-decoration: none;
        outline: none;
        font-size: 12px;
        cursor: pointer;

        &:after {
          border: none;
        }
      }
    }
  }
}
